<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-0.3.5&s=c3d0603820b595592d80f5a239938c67&auto=format&fit=crop&w=1500&q=80);">
  
   <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex text-center h-100">
        <div class="col-12 col-md-8  h-50 ">
            <h1 class="display-2  text-light mb-2 mt-5"><strong>Ready?</strong> </h1>
            <p class="lead  text-light mb-5">for the amazing new offers in vodafone</p>
<p><a href="" class="btn bg-danger shadow-lg btn-round text-light btn-lg btn-rised">Contact us</a></p>
					
					<div class="btn-container-wrapper p-relative d-block  zindex-1">
						<a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light" href="http://bootstraptor.com">
						    <i class="fa fa-angle-down fa-4x text-light"></i>
						    </a>   
					</div>   
        </div>
		 
      </div>
    </div>
    </section>
  

    <div class="container-fluid img-with-text ">
  <div class="row" >
    <div class="col-md m-4" >
    <a href="#" class="" >

        <img  src="./assets/topup.png" class="img-fluid" width="80">

        <h2 class=" text-under-image">Top-up</h2>
        </a>
    </div>
    <div class="col-md m-4">
      <a href="#"  >

        <img  src="./assets/telephone-symbol-button.png" class="img-fluid" width="80">

        <h2 class=" text-under-image">Call 1270</h2>
        </a>
    </div>
    <div class="col-md m-4">
<a href="#"  >
        <img  src="./assets/faq.png" class="img-fluid" width="80">

        <h2 class=" text-under-image">FAQ?</h2>
        </a>

            </div>
     <div class="col-md m-4">
      <a href="#"  >
        <img  src="./assets/map.png" class="img-fluid" width="80">

        <h2 class=" text-under-image">English Speaking Store</h2>
        </a>
    </div>
  </div>
</div>


<!-- Grid row -->
<div class="row justify-content-center card-main mt-4 mb-4">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top"
          alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Prepaid plans</h4>
        <!--Text-->
        <p class="card-text"> Find a prepaid card which suits you the best and discover its benefits. </p>
        
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  

    <!-- Grid column -->
  <div class="col-lg-4 col-md-12">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top"
          alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Pay monthly plans</h4>
        <!--Text-->
        <p class="card-text"> Unlimited social experience with all new postpaid tariffs. Choose with Vodafone Family for a monthly fee discount. </p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  
</div>
<!-- Grid row -->
